flow.json
[{"id":"e8d5b728.67e758","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2974f08c.7cf36","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"a60399d9.f2a2c8","type":"mqtt-broker","z":"","name":"","broker":"192.168.2.51","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f89a0aef.e1ae48","type":"ui_group","z":"","name":"Controls","tab":"39170615.dd054a","order":1,"disp":true,"width":"4","collapse":false},{"id":"cb061b2b.7448b8","type":"ui_group","z":"","name":"Auto","tab":"35a76390.3667fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"39170615.dd054a","type":"ui_tab","z":"","name":"Watering System","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"35a76390.3667fc","type":"ui_tab","z":"","name":"Config","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"7162cda5.2bb9c4","type":"http request","z":"e8d5b728.67e758","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://dati.meteotrentino.it/service.asmx/getLastDataOfMeteoStation?codice=T0129","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":300,"wires":[["ff26c7a1.83fe48"]]},{"id":"37058a65.b553f6","type":"inject","z":"e8d5b728.67e758","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":300,"wires":[["7162cda5.2bb9c4"]]},{"id":"18e2c8bd.f275b7","type":"debug","z":"e8d5b728.67e758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":300,"wires":[]},{"id":"ff26c7a1.83fe48","type":"xml","z":"e8d5b728.67e758","name":"","property":"payload","attr":"","chr":"","x":630,"y":300,"wires":[["b5e9aaa4.a5c318","53b82a33.9b0cc4"]]},{"id":"b5e9aaa4.a5c318","type":"change","z":"e8d5b728.67e758","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lastData.temperature_list[0].air_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":300,"wires":[["18e2c8bd.f275b7"]]},{"id":"53b82a33.9b0cc4","type":"function","z":"e8d5b728.67e758","name":"parser","func":"var a = msg.payload.lastData.temperature_list[0].air_temperature;\nvar data = [];\nvar time = [];\n\nfor (var i = 0; i < a.length; i++) {\n   data.push(parseFloat(a[i].value[0])); \n   time.push(a[i].date[0]);\n}\n\n\nvar out1 = {payload: data};\nvar out2 = {payload: time};\nconst sum = arr => arr.reduce((a,b) => a + b, 0)\n\n\n\n\nreturn [out1,out2,{payload: sum(data)}];","outputs":3,"noerr":0,"x":810,"y":400,"wires":[["c81ea85c.d69938"],[],["fe0ec0cb.520fc"]]},{"id":"c81ea85c.d69938","type":"debug","z":"e8d5b728.67e758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":360,"wires":[]},{"id":"fe0ec0cb.520fc","type":"debug","z":"e8d5b728.67e758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":420,"wires":[]},{"id":"fad035ec.c5dc08","type":"mqtt out","z":"2974f08c.7cf36","name":"","topic":"cmnd/front_garden/power","qos":"","retain":"","broker":"a60399d9.f2a2c8","x":1010,"y":219,"wires":[]},{"id":"78d89f6f.e6847","type":"ui_switch","z":"2974f08c.7cf36","name":"","label":"Back on/off","tooltip":"","group":"f89a0aef.e1ae48","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":428,"y":379,"wires":[["5be949c3.ee5258"]]},{"id":"d68ea6a9.360bb8","type":"mqtt out","z":"2974f08c.7cf36","name":"","topic":"cmnd/back_garden/power","qos":"","retain":"","broker":"a60399d9.f2a2c8","x":1018,"y":379,"wires":[]},{"id":"6cc2af85.bcc","type":"ui_switch","z":"2974f08c.7cf36","name":"","label":"Front on/off","tooltip":"","group":"f89a0aef.e1ae48","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":428,"y":179,"wires":[["a280792b.b48958"]]},{"id":"5be949c3.ee5258","type":"schedex","z":"2974f08c.7cf36","name":"","passthroughunhandled":false,"suspended":true,"lat":"","lon":"","ontime":"05:40","ontopic":"","onpayload":"1","onoffset":0,"onrandomoffset":0,"offtime":"05:55","offtopic":"","offpayload":"0","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":690,"y":379,"wires":[["d68ea6a9.360bb8"]]},{"id":"a280792b.b48958","type":"schedex","z":"2974f08c.7cf36","name":"","passthroughunhandled":false,"suspended":true,"lat":"","lon":"","ontime":"06:00","ontopic":"","onpayload":"1","onoffset":0,"onrandomoffset":0,"offtime":"06:15","offtopic":"","offpayload":"0","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":688,"y":219,"wires":[["fad035ec.c5dc08"]]},{"id":"4c91876c.a504a8","type":"ui_dropdown","z":"2974f08c.7cf36","name":"","label":"Front ","tooltip":"","place":"Select option","group":"cb061b2b.7448b8","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Manual","value":"suspended true","type":"str"},{"label":"Auto","value":"suspended false","type":"str"}],"payload":"","topic":"","x":408,"y":439,"wires":[["5be949c3.ee5258"]]},{"id":"a52aa096.d128f","type":"ui_dropdown","z":"2974f08c.7cf36","name":"","label":"Back","tooltip":"","place":"Select option","group":"cb061b2b.7448b8","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Manual","value":"suspended true","type":"str"},{"label":"Auto","value":"suspended false","type":"str"}],"payload":"","topic":"","x":428,"y":239,"wires":[["a280792b.b48958"]]}]