flow.json
[{"id":"45b367de.84dc58","type":"tab","label":"Watering System Front","disabled":false,"info":"This flows controls the automatic valve which controls the water flow in the front (grass) garden.\n\nThe two valves are operated by a Tasmota - Sonoff switch via MQTT.\n\nScheduling is controlled via a two schedex nodes which sends on and off messages .\n\nThe switch node is used to enable/disable automatic scheduling"},{"id":"bd78e2ec.071bc","type":"tab","label":"Watering System Back","disabled":false,"info":"This flows controls the automatic valve which controls the water flow in the back (bonsai) garden (bonsai).\n\nThe two valves are operated by a Tasmota - Sonoff switch via MQTT.\n\nScheduling is controlled via a CRON node which sends on and off messages with two separate schedulers.\n\nThe switch node is used to enable/disable automatic scheduling"},{"id":"e8d5b728.67e758","type":"tab","label":"Precipitation Data","disabled":false,"info":"Query Meteotrentino for the meteo data collected from the \"Laste\" Meteo station\n\nParse the data in order to allow plotting within the Node-Red dashboard"},{"id":"698357b1.93c218","type":"tab","label":"SandBox","disabled":false,"info":""},{"id":"69b4341e.2c69cc","type":"subflow","name":"GPrepD","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"7162cda5.2bb9c4"}]}],"out":[{"x":621,"y":93,"wires":[{"id":"53b82a33.9b0cc4","port":2}]}],"env":[],"color":"#DDAA99"},{"id":"a60399d9.f2a2c8","type":"mqtt-broker","z":"","name":"","broker":"192.168.2.51","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f89a0aef.e1ae48","type":"ui_group","z":"","name":"Controls","tab":"39170615.dd054a","order":1,"disp":true,"width":6,"collapse":false},{"id":"cb061b2b.7448b8","type":"ui_group","z":"","name":"Auto","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"39170615.dd054a","type":"ui_tab","z":"","name":"Watering System","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f9416636.8dde88","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2d683872.43f098","type":"ui_spacer","name":"spacer","group":"f89a0aef.e1ae48","order":1,"width":1,"height":1},{"id":"eb22946a.d907d8","type":"ui_spacer","name":"spacer","group":"f89a0aef.e1ae48","order":3,"width":1,"height":1},{"id":"2969e5df.1cebca","type":"ui_spacer","name":"spacer","group":"f89a0aef.e1ae48","order":4,"width":1,"height":1},{"id":"490d3517.433ddc","type":"ui_spacer","name":"spacer","group":"f89a0aef.e1ae48","order":6,"width":1,"height":1},{"id":"f1947323.ef932","type":"ui_spacer","name":"spacer","group":"f89a0aef.e1ae48","order":7,"width":6,"height":1},{"id":"7529067d.9424f8","type":"ui_tab","z":"","name":"Config","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"39857bfe.a201f4","type":"ui_group","z":"","name":"Operation","tab":"7529067d.9424f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"7162cda5.2bb9c4","type":"http request","z":"69b4341e.2c69cc","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://dati.meteotrentino.it/service.asmx/getLastDataOfMeteoStation?codice=T0129","tls":"","persist":false,"proxy":"","authType":"","x":171,"y":80,"wires":[["ff26c7a1.83fe48"]]},{"id":"ff26c7a1.83fe48","type":"xml","z":"69b4341e.2c69cc","name":"","property":"payload","attr":"","chr":"","x":330,"y":80,"wires":[["53b82a33.9b0cc4"]]},{"id":"53b82a33.9b0cc4","type":"function","z":"69b4341e.2c69cc","name":"parser","func":"var a = msg.payload.lastData.precipitation_list[0].precipitation;\nvar data = [];\nvar time = [];\n\nfor (var i = 0; i < a.length; i++) {\n   data.push(parseFloat(a[i].value[0])); \n   time.push(a[i].date[0]);\n}\n\n\nvar out1 = {payload: data};\nvar out2 = {payload: time};\n\nvar sum = data.reduce(function(a, b){\n        return a + b;\n    }, 0);\n\n\nreturn [out1,out2,{payload: Math.round(sum)}];","outputs":3,"noerr":0,"x":470,"y":80,"wires":[[],[],[]],"info":"This function parses estract precipitation data from the meteotrentino API (Laste weather station).\n\nI returns:\n\n * the total mm of rain collected in the last 24h\n * a vector with the data/time of the collection\n * a vector with the precipitation data\n\n"},{"id":"b1eea91e.2e2b18","type":"comment","z":"45b367de.84dc58","name":"Front Garden (Lawn)","info":"The Watering program should be based on two 5 minutes cycles to avoid flooding","x":110,"y":60,"wires":[]},{"id":"7437923c.00aa0c","type":"mqtt out","z":"45b367de.84dc58","name":"Front Garden - Grass","topic":"cmnd/front_garden/power","qos":"2","retain":"false","broker":"a60399d9.f2a2c8","x":1103,"y":155,"wires":[]},{"id":"9f522794.9411f8","type":"ui_switch","z":"45b367de.84dc58","name":"","label":"Front on/off","tooltip":"","group":"f89a0aef.e1ae48","order":5,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":309,"y":154,"wires":[["7437923c.00aa0c"]]},{"id":"449449f6.dae4c8","type":"ui_button","z":"e8d5b728.67e758","name":"","group":"f89a0aef.e1ae48","order":9,"width":0,"height":0,"passthru":false,"label":"Get Data","tooltip":"Query Trentino Opendata","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":240,"y":140,"wires":[["7c789d96.741e34"]]},{"id":"4a5522f0.7cdb4c","type":"ui_gauge","z":"e8d5b728.67e758","name":"Precipitation","group":"f89a0aef.e1ae48","order":8,"width":0,"height":0,"gtype":"gage","title":"Precipitation","label":"mm","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"60","x":710,"y":140,"wires":[]},{"id":"8a0e350e.eb54d8","type":"mqtt in","z":"698357b1.93c218","name":"","topic":"test","qos":"2","datatype":"auto","broker":"a60399d9.f2a2c8","x":410,"y":60,"wires":[["203d87bd.5c3358"]]},{"id":"203d87bd.5c3358","type":"debug","z":"698357b1.93c218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":60,"wires":[]},{"id":"f65087ff.1b9688","type":"mqtt out","z":"698357b1.93c218","name":"","topic":"test1","qos":"1","retain":"false","broker":"a60399d9.f2a2c8","x":710,"y":120,"wires":[]},{"id":"a3feaf75.eaaf4","type":"inject","z":"698357b1.93c218","name":"","topic":"","payload":"NodeRed","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":121,"wires":[["f65087ff.1b9688"]]},{"id":"347c67b1.1d42d8","type":"mqtt in","z":"698357b1.93c218","name":"","topic":"test1","qos":"2","datatype":"auto","broker":"a60399d9.f2a2c8","x":410,"y":180,"wires":[["3db06014.b8f9e"]]},{"id":"3db06014.b8f9e","type":"debug","z":"698357b1.93c218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":180,"wires":[]},{"id":"64c650ad.b48f7","type":"inject","z":"698357b1.93c218","name":"","topic":"","payload":"{\"a\":10,\"b\":20,\"c\":30}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":291,"y":281,"wires":[["296598a0.9fcca8"]]},{"id":"296598a0.9fcca8","type":"csv","z":"698357b1.93c218","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"a,b,c","skip":"0","strings":true,"x":691,"y":281,"wires":[["68a5719b.b6bc6","2a6d681d.2bb2f8"]]},{"id":"68a5719b.b6bc6","type":"debug","z":"698357b1.93c218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":861,"y":281,"wires":[]},{"id":"2a6d681d.2bb2f8","type":"file","z":"698357b1.93c218","name":"","filename":"/home/pi/data/test.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":892,"y":361,"wires":[[]]},{"id":"4cf22d44.9f84c4","type":"inject","z":"698357b1.93c218","name":"","topic":"","payload":"ciao","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":460,"wires":[["f941a968.a4a2c8"]]},{"id":"23b821a6.cf951e","type":"inject","z":"698357b1.93c218","name":"","topic":"","payload":"pippo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":560,"wires":[["f941a968.a4a2c8"]]},{"id":"f941a968.a4a2c8","type":"join","z":"698357b1.93c218","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":520,"wires":[["cbbaeea7.f9edf"]]},{"id":"1b105100.07bf3f","type":"debug","z":"698357b1.93c218","name":"one","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":500,"wires":[]},{"id":"cbbaeea7.f9edf","type":"switch","z":"698357b1.93c218","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"eq","v":"ciao","vt":"str"},{"t":"eq","v":"pippo","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":713,"y":520,"wires":[["1b105100.07bf3f"],["f7db3029.d45cb"]]},{"id":"f7db3029.d45cb","type":"debug","z":"698357b1.93c218","name":"two","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":540,"wires":[]},{"id":"5499e2ce.7086cc","type":"change","z":"45b367de.84dc58","name":"","rules":[{"t":"set","p":"front_state","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":480,"wires":[[]]},{"id":"44ddd65f.c69c58","type":"inject","z":"45b367de.84dc58","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":163,"y":154,"wires":[["9f522794.9411f8"]]},{"id":"f56478f2.1b6428","type":"inject","z":"45b367de.84dc58","name":"","topic":"","payload":"front_state","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":620,"wires":[["86a1e618.033be8"]]},{"id":"86a1e618.033be8","type":"debug","z":"45b367de.84dc58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":620,"wires":[]},{"id":"1bb0c87c.8660f8","type":"debug","z":"45b367de.84dc58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":300,"wires":[]},{"id":"c82dc0f1.68d47","type":"inject","z":"698357b1.93c218","name":"schedule ON","topic":"","payload":"{\"command\":\"add\",\"name\":\"schedule on\",\"expression\":\"0 00 10 * * * *\",\"payload\":\"on\",\"type\":\"str\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":940,"wires":[["a9b7388b.8fe658"]]},{"id":"8a8ca3a4.89734","type":"cronplus","z":"698357b1.93c218","name":"","outputField":"payload","timeZone":"","options":[],"x":682,"y":960,"wires":[["82de92c3.dde2d"]]},{"id":"3c4aae2a.317bf2","type":"inject","z":"698357b1.93c218","name":"schedule OFF","topic":"","payload":"{\"command\":\"add\",\"name\":\"schedule of\",\"expression\":\"0 01 10 * * * *\",\"payload\":\"off\",\"type\":\"str\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":980,"wires":[["a9b7388b.8fe658"]]},{"id":"a9b7388b.8fe658","type":"join","z":"698357b1.93c218","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":960,"wires":[["8a8ca3a4.89734"]]},{"id":"82de92c3.dde2d","type":"debug","z":"698357b1.93c218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":960,"wires":[]},{"id":"7c789d96.741e34","type":"subflow:69b4341e.2c69cc","z":"e8d5b728.67e758","name":"query trentino open data","env":[],"x":469,"y":140,"wires":[["4a5522f0.7cdb4c"]]},{"id":"61f3d793.655638","type":"ui_dropdown","z":"bd78e2ec.071bc","name":"","label":"Back","tooltip":"","place":"Select option","group":"39857bfe.a201f4","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Manual","value":"{\"command\":\"pause-all\"}","type":"str"},{"label":"Auto","value":"{\"command\":\"start-all\"}","type":"str"}],"payload":"","topic":"","x":410,"y":220,"wires":[["fdedd9e1.eaf1c8","19b8961a.1b640a"]]},{"id":"d950625f.ad274","type":"ui_switch","z":"bd78e2ec.071bc","name":"","label":"Back on/off","tooltip":"","group":"f89a0aef.e1ae48","order":2,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":870,"y":160,"wires":[["78271181.91c94"]]},{"id":"78271181.91c94","type":"mqtt out","z":"bd78e2ec.071bc","name":"Back Garden (Bonsai)","topic":"cmnd/back_garden/power","qos":"2","retain":"false","broker":"a60399d9.f2a2c8","x":1120,"y":220,"wires":[]},{"id":"9ae1dc77.931c3","type":"comment","z":"bd78e2ec.071bc","name":"Back Garden (Bonsai)","info":"The Watering program should be one longer run of 15 minutes","x":300,"y":140,"wires":[]},{"id":"97f86cea.e5a84","type":"cronplus","z":"bd78e2ec.071bc","name":"Back Garden Scheduler","outputField":"payload","timeZone":"","options":[],"x":850,"y":220,"wires":[["78271181.91c94"]]},{"id":"fdedd9e1.eaf1c8","type":"json","z":"bd78e2ec.071bc","name":"Text to JSON","property":"payload","action":"","pretty":false,"x":610,"y":220,"wires":[["97f86cea.e5a84"]]},{"id":"e8cfcb05.cbc6a8","type":"inject","z":"bd78e2ec.071bc","name":"","topic":"","payload":"back_state","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":220,"wires":[["61f3d793.655638"]]},{"id":"19b8961a.1b640a","type":"change","z":"bd78e2ec.071bc","name":"","rules":[{"t":"set","p":"back_state","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":300,"wires":[[]]},{"id":"d9131a50.ef6cc8","type":"inject","z":"bd78e2ec.071bc","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":590,"y":160,"wires":[["d950625f.ad274"]]},{"id":"db6038db.be09c8","type":"inject","z":"45b367de.84dc58","name":"","topic":"","payload":"front_state","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"1","x":130,"y":340,"wires":[["f2191a87.68c538"]]},{"id":"ff15852d.023858","type":"schedex","z":"698357b1.93c218","name":"","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"07:28","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"goldenHour","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":280,"y":780,"wires":[[]]},{"id":"75645d70.48b244","type":"schedex","z":"45b367de.84dc58","name":"","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"10:55","ontopic":"","onpayload":"on","onoffset":0,"onrandomoffset":0,"offtime":"11:00","offtopic":"","offpayload":"off","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":760,"y":340,"wires":[["1bb0c87c.8660f8"]]},{"id":"f2191a87.68c538","type":"ui_dropdown","z":"45b367de.84dc58","name":"Front Garden Mode of operation","label":"Front","tooltip":"","place":"Select option","group":"39857bfe.a201f4","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Manual","value":"suspended true","type":"str"},{"label":"Auto","value":"suspended false","type":"str"}],"payload":"","topic":"","x":430,"y":340,"wires":[["5499e2ce.7086cc","75645d70.48b244","416632af.f1123c"]]},{"id":"416632af.f1123c","type":"schedex","z":"45b367de.84dc58","name":"","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"10:45","ontopic":"","onpayload":"on","onoffset":0,"onrandomoffset":0,"offtime":"10:50","offtopic":"","offpayload":"off","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":760,"y":280,"wires":[["1bb0c87c.8660f8"]]}]