flow.json
[{"id":"e8d5b728.67e758","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"45b367de.84dc58","type":"tab","label":"Watering System","disabled":false,"info":"This flows controls the two automatic valves which controls the water flow in the front (grass) and back garden (bonsai).\n\nThe two valves are operated by a Tasmota - Sonoff switch via MQTT.\n\nScheduling is controlled via a CRON node which sends on and off messages with two separate schedulers.\n\nThe switch node is used to enable/disable automatic scheduling"},{"id":"a60399d9.f2a2c8","type":"mqtt-broker","z":"","name":"","broker":"192.168.2.51","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f89a0aef.e1ae48","type":"ui_group","z":"","name":"Controls","tab":"39170615.dd054a","order":1,"disp":true,"width":6,"collapse":false},{"id":"cb061b2b.7448b8","type":"ui_group","z":"","name":"Auto","tab":"35a76390.3667fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"39170615.dd054a","type":"ui_tab","z":"","name":"Watering System","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"35a76390.3667fc","type":"ui_tab","z":"","name":"Config","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"f9416636.8dde88","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2d683872.43f098","type":"ui_spacer","name":"spacer","group":"f89a0aef.e1ae48","order":1,"width":1,"height":1},{"id":"eb22946a.d907d8","type":"ui_spacer","name":"spacer","group":"f89a0aef.e1ae48","order":3,"width":1,"height":1},{"id":"2969e5df.1cebca","type":"ui_spacer","name":"spacer","group":"f89a0aef.e1ae48","order":4,"width":1,"height":1},{"id":"490d3517.433ddc","type":"ui_spacer","name":"spacer","group":"f89a0aef.e1ae48","order":6,"width":1,"height":1},{"id":"f1947323.ef932","type":"ui_spacer","name":"spacer","group":"f89a0aef.e1ae48","order":7,"width":6,"height":1},{"id":"7162cda5.2bb9c4","type":"http request","z":"e8d5b728.67e758","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://dati.meteotrentino.it/service.asmx/getLastDataOfMeteoStation?codice=T0129","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":140,"wires":[["ff26c7a1.83fe48"]]},{"id":"ff26c7a1.83fe48","type":"xml","z":"e8d5b728.67e758","name":"","property":"payload","attr":"","chr":"","x":590,"y":140,"wires":[["53b82a33.9b0cc4"]]},{"id":"53b82a33.9b0cc4","type":"function","z":"e8d5b728.67e758","name":"parser","func":"var a = msg.payload.lastData.precipitation_list[0].precipitation;\nvar data = [];\nvar time = [];\n\nfor (var i = 0; i < a.length; i++) {\n   data.push(parseFloat(a[i].value[0])); \n   time.push(a[i].date[0]);\n}\n\n\nvar out1 = {payload: data};\nvar out2 = {payload: time};\nconst sum = arr => arr.reduce((a,b) => a + b, 0)\n\n\n\n\nreturn [out1,out2,{payload: sum(data)}];","outputs":3,"noerr":0,"x":750,"y":140,"wires":[[],[],["4a5522f0.7cdb4c"]],"info":"This function parses estract precipitation data from the meteotrentino API (Laste weather station).\n\nI returns:\n\n * the total mm of rain collected in the last 24h\n * a vector with the data/time of the collection\n * a vector with the precipitation data\n\n"},{"id":"c3327ae.432b888","type":"cronplus","z":"45b367de.84dc58","name":"Front Garden Scheduler","outputField":"payload","timeZone":"","options":[{"topic":"on","payload":"1","type":"num","expression":"0 30 2,4 * * *"},{"topic":"off","payload":"0","type":"str","expression":"0 35 2,4 * * *"}],"x":750,"y":360,"wires":[["7437923c.00aa0c"]]},{"id":"b1eea91e.2e2b18","type":"comment","z":"45b367de.84dc58","name":"Front Garden (Lawn)","info":"The Watering program should be based on two 5 minutes cycles to avoid flooding","x":190,"y":280,"wires":[]},{"id":"df3a915f.a8ab6","type":"ui_dropdown","z":"45b367de.84dc58","name":"","label":"Front","tooltip":"Select the mode of operation","place":"Select option","group":"cb061b2b.7448b8","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Manual","value":"{\"command\":\"pause-all\"}","type":"str"},{"label":"Auto","value":"{\"command\":\"start-all\"}","type":"str"}],"payload":"","topic":"","x":310,"y":360,"wires":[["5d52c611.6c3098"]]},{"id":"5d52c611.6c3098","type":"json","z":"45b367de.84dc58","name":"Text to JSON","property":"payload","action":"","pretty":false,"x":510,"y":360,"wires":[["c3327ae.432b888"]]},{"id":"7437923c.00aa0c","type":"mqtt out","z":"45b367de.84dc58","name":"Front Garden - Grass","topic":"cmnd/front_garden/power","qos":"","retain":"true","broker":"a60399d9.f2a2c8","x":1020,"y":360,"wires":[]},{"id":"9f522794.9411f8","type":"ui_switch","z":"45b367de.84dc58","name":"","label":"Front on/off","tooltip":"","group":"f89a0aef.e1ae48","order":5,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":770,"y":280,"wires":[["7437923c.00aa0c"]]},{"id":"494076a6.744378","type":"ui_dropdown","z":"45b367de.84dc58","name":"","label":"Back","tooltip":"","place":"Select option","group":"cb061b2b.7448b8","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Manual","value":"{\"command\":\"pause-all\"}","type":"str"},{"label":"Auto","value":"{\"command\":\"start-all\"}","type":"str"}],"payload":"","topic":"","x":310,"y":620,"wires":[["89cef0e.a756e1"]]},{"id":"f3d1cbca.a22578","type":"ui_switch","z":"45b367de.84dc58","name":"","label":"Back on/off","tooltip":"","group":"f89a0aef.e1ae48","order":2,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":770,"y":560,"wires":[["1beb3c61.016054"]]},{"id":"1beb3c61.016054","type":"mqtt out","z":"45b367de.84dc58","name":"Back Garden (Bonsai)","topic":"cmnd/back_garden/power","qos":"","retain":"true","broker":"a60399d9.f2a2c8","x":1020,"y":620,"wires":[]},{"id":"64c34329.0add4c","type":"comment","z":"45b367de.84dc58","name":"Back Garden (Bonsai)","info":"The Watering program should be one longer run of 15 minutes","x":200,"y":540,"wires":[]},{"id":"548d6a18.1e0334","type":"cronplus","z":"45b367de.84dc58","name":"Back Garden Scheduler","outputField":"payload","timeZone":"","options":[],"x":750,"y":620,"wires":[["1beb3c61.016054"]]},{"id":"89cef0e.a756e1","type":"json","z":"45b367de.84dc58","name":"Text to JSON","property":"payload","action":"","pretty":false,"x":510,"y":620,"wires":[["548d6a18.1e0334"]]},{"id":"449449f6.dae4c8","type":"ui_button","z":"e8d5b728.67e758","name":"","group":"f89a0aef.e1ae48","order":9,"width":0,"height":0,"passthru":false,"label":"Get Data","tooltip":"Query Trentino Opendata","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":240,"y":140,"wires":[["7162cda5.2bb9c4"]]},{"id":"4a5522f0.7cdb4c","type":"ui_gauge","z":"e8d5b728.67e758","name":"Precipitation","group":"f89a0aef.e1ae48","order":8,"width":0,"height":0,"gtype":"gage","title":"Precipitation","label":"mm","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"60","x":970,"y":160,"wires":[]}]